@import url("reset.css");
@import url("font.css");

body {background: url('../images/bg_main.jpg');}

body {
  --borColor:rgba(255,255,255,0.5);
  --mainColor1 : #d1c4a3;
  --titColor1:#e4d1a4;
}

.centerbox {width: 1600px; margin: 0 auto;}

header {width: 100%; position: absolute; top: 0; height: 150px;}
header nav {float: right; margin-right: 50px;}
header .gnb {}
header .gnb li {font-family: "Gentium Book Basic", serif; font-size: 20px; font-weight: 400; line-height: 150px;}
header .gnb li a {color: var(--titColor1); padding: 0 20px;}

#visual {height: 100vh; background: url('../images/bg_visual.jpg');}
#visual .logo_box {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
#visual .logo_box span {margin-top: 20px; display: block;}



.box_container {width: 1600px; padding:67px 140px;border: 1px solid rgba(255,255,255,0.5); background: rgba(210,187,134,0.17); border-radius: 40px; box-shadow: 4px 4px 30px rgba(103,92,61,0.38); flex-shrink: 0; box-sizing: border-box; backdrop-filter: blur(5px);}

#category {position: relative; z-index: 2; }
#section_box #section1 { margin: 200px auto; }




#myinfo {display: flex; justify-content: center; align-items: center; padding-top: 100px;position: relative; z-index: 2}

#myinfo .resume h2 {font-size: 50px; color: var(--titColor1); font-family: "Gentium Book Basic", serif; font-weight: normal; letter-spacing: 0.1em; height: 100px;}
#myinfo .resume .content {height: 390px; display: flex; gap: 10px;}
#myinfo .resume .content > li { width: 30%; flex-grow: 1; }
#myinfo .resume .content li.picture {width: 20%;}

#myinfo .resume .picture figure {position: relative; width: 280px; height: 290px; overflow: hidden; border-radius: 20px 90px 90px 20px;}
#myinfo .resume .picture img {width: 120%; position: absolute; top: 50%; left: 50%; transform: translate(-40%,-60%);}

#myinfo .resume .picture .info { width: 280px;display: flex; flex-wrap: wrap; margin-top: 30px; font-family: 'nanumsquare'; font-weight: lighter; letter-spacing: 0.2em;}
#myinfo .resume .picture .info li {width: 40%; height: 30px;color: #fff; font-size: 20px;}
#myinfo .resume .picture .info li.title {color: #eae3d1;}

#myinfo .text_box {letter-spacing: 0.1em; position: relative;}
#myinfo .text_box::before {content: ""; position: absolute; width: 24px; height: 1px; background:var(--borColor); left: -11px; top: 54%;}
#myinfo .text_box > li {display: flex;border-left:1px solid var(--borColor); font-size: 16px;font-family: 'Pretendard-Light'; padding-bottom: 40px;}
#myinfo .text_box > li h3 {width: 55px; color: #fff; writing-mode: vertical-rl;  transform: rotate(180deg); font-size: 20px; letter-spacing: 0.1em; text-align: right; margin-left: 5px;}
#myinfo .text_box > li .date {color: #eae3d1;padding-bottom: 5px;}
#myinfo .text_box > li article {color: #fff;padding-bottom: 5px;}
#myinfo .text_box > li article {color: #fff;padding-bottom: 5px;}


#myinfo .text_box > li .imgbox {display: flex; flex-wrap: wrap; gap: 20px 0;}
#myinfo .text_box > li .imgbox li {width: 22%; text-align: center; }
#myinfo .text_box > li .imgbox li figure {color: #fff; font-size: 14px;}
#myinfo .text_box > li .imgbox li figure figcaption{margin-top: 2px;}

#myinfo .text_box > li .license {color: #fff; margin-top: 0px;}
#myinfo .text_box > li .license li {display: flex; }
#myinfo .text_box > li .license .title {width: 100px; color: #eae3d1; }



#myinfo .text_box > li .contact {color: #fff; margin-top: 30px;}
#myinfo .text_box > li .contact li {display: flex; }
#myinfo .text_box > li .contact .title {width: 100px; color: #eae3d1; }


#myinfo .text_box li:last-child {padding-bottom: 0;}

#category {height: 100vh; margin-top: 100px;}
#category .centerbox {position: relative;  height: 100%;}
#category h3 {position: absolute; top: 400px; left: 50%;}
#category li.box {position: absolute;border: 1px solid rgba(255,255,255,0.5); background: rgba(210,187,134,0.17); border-radius: 40px; box-shadow: 4px 4px 30px rgba(103,92,61,0.38); flex-shrink: 0; box-sizing: border-box; /* padding: 55px 60px; */ width: 490px; height: 190px; backdrop-filter: blur(5px);}

#category li h4 {position: absolute; font-size: 45px; color: #695d41; font-family: "Mongolian Baiti"; left: 25px; top: 8px; font-weight: lighter;}
#category li ul {display: flex; height: 100%; }

#category li.box:nth-child(1) {top: 160px; left: 50%; transform: translateX(-50%);}
#category li.box:nth-child(2) {top: 365px; left: 270px; }
#category li.box:nth-child(3) {top: 570px; left: 50%; transform: translateX(-50%);}
#category li.box:nth-child(4) {width: 190px; height: 280px; top: 570px; left: 50%; margin-left: 260px;}
#category li.box > ul > li {width: 50%;}
#category li.box .title {color: #dacfb5; font-size: 40px;font-family: "Mongolian Baiti"; width: 50%; display: flex; align-items: center; text-align: center; line-height: 1; }
#category li ul.cont {display: flex; flex-direction: column; align-items: flex-start; justify-content: center;font-family: 'Pretendard-Light';}
#category li ul.cont li {display: flex; color: #fff; line-height: 1.4;}
#category li ul.cont li .num {color: var(--mainColor1); width: 35px;font-family: "Mongolian Baiti"; }
#category li ul.cont li .text {color: #f5f2ea; font-size: 15px; }

#category li.box:nth-child(4) h4 {left: 50%; transform: translateX(-50%);}
#category li.box:nth-child(4) > ul {flex-direction: column; justify-content: center; gap: 20px;}
#category li.box:nth-child(4) > ul li  {width: 100%; padding: 0 14px; box-sizing: border-box;}
#category li.box:nth-child(4) > ul .title  {width: 100%;}


#section_box .cont_box h2 {color: var(--titColor1); font-family: "Mongolian Baiti"; font-size: 50px; font-weight: lighter; position: relative; display: inline-block; letter-spacing: 0.1em; margin-bottom: 100px;}
#section_box .cont_box h2 span {font-size: 28px;; color: var(--borColor); position:absolute; right:-125px; bottom: -13px;}


#section1 {margin: 200px 0;}
#section1 .cont_box {}
#section1 .cont_box .cont {display: flex; gap: 100px; margin-bottom: 200px; justify-content: center;}
#section1 .cont_box .cont li {}
#section1 .cont_box .cont li.screen_box {flex-grow: 1; position: relative;}
#section1 .cont_box .cont li.screen_box .pc{position: absolute; right: 0;bottom: 0;}
#section1 .cont_box .cont li.screen_box .mobile{position: absolute; left: 0; top: 270px;}

#section1 .cont_box .cont:nth-of-type(even) li.screen_box .mobile {left:auto; right: -100px; top: 270px;}
#section1 .cont_box .cont:nth-of-type(even) li.screen_box{flex-grow: 0; width: 620px;;}

#section1 .cont_box .cont li.screen_box .pc .screen {position: absolute; width: 602px; height: 338px; background: #000; top: 20px; left: 7px; border-radius: 3px; overflow: hidden;}
#section1 .cont_box .cont li.screen_box .mobile .screen {position: absolute; width: 128px; height: 240px; background: #000; top: 6px; left: 6px; border-radius: 3px; border-radius: 18px;overflow: hidden;}


#section1 .cont_box .cont li.screen_box .screen img {width: 100%; transition: 10s; position: absolute; top: 0;}



#section1 .cont_box .cont .text_box {width: 780px; height: 580px; position: relative; ;}
#section1 .cont_box .cont:nth-of-type(even) .text_box {width: 680px;}

#section1 .cont_box .cont .text_box .info_box {width: 680px; height: 540px; background: #f2e9d4; border-radius: 40px;padding: 60px; box-sizing: border-box; position: relative; z-index: 3;box-shadow: 4px 4px 30px rgba(103,92,61,0.38);}

#section1 .cont_box .cont .text_box .info_box_shadow {position: absolute; width: 680px; height: 540px; background: #f2e9d4; border-radius: 40px; left: 40px; top: 40px; opacity: 0.2}
#section1 .cont_box .cont:nth-of-type(even) .text_box .info_box_shadow {left: -40px; top: 40px; opacity: 0.2}


#section1 .cont_box .cont .text_box .info_box h3 {font-family: 'Mongolian Baiti'; font-size: 85px; color: #817453; font-weight: lighter; line-height: 0.7; margin-bottom: 60px;}
#section1 .cont_box .cont .text_box .info_box h3 span:nth-child(2) {font-size: 80px; color: #bfa566; padding-left: 50px; white-space: nowrap;}


#section1 .cont_box .cont .text_box .info_box li {display: flex; gap: 20px; line-height: 33px;}
#section1 .cont_box .cont .text_box .info_box li .title {font-size: 24px; font-family: 'Mongolian Baiti'; color: #817453; width: 100px;}


#section1 .cont_box .cont .text_box .info_box li .text {font-size: 22px; color: #817453; font-weight: lighter;}


#section1 .cont_box .cont .text_box .info_box .btns {font-size: 26px; margin-top: 35px; display: flex; justify-content: center; gap:10px}
#section1 .cont_box .cont .origin {display: none;}
#section1 .cont_box .cont .text_box .info_box .btns a {color: #bfa566; padding: 18px 52px; border: 1px solid #bfa566; display: inline-block; border-radius:15px; transition: 0.1s; position: relative; overflow: hidden;}
#section1 .cont_box .cont .text_box .info_box .btns a:before {content: ""; position: absolute; width: 0%; height: 100%; background: #bfa566; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: -1; transition: 0.7s cubic-bezier(.35,.33,.11,1.02); border-radius: 10px; opacity: 0;}
#section1 .cont_box .cont .text_box .info_box .btns a:hover:before {width: 102%; height: 100%; opacity: 1;}
#section1 .cont_box .cont .text_box .info_box .btns a:hover {color: #fff;}


/* 호텔 */
#section1 .cont_box .cont.hotel .text_box .info_box {background: #555148;}
#section1 .cont_box .cont.hotel .text_box .info_box h3 {color: #bdaf8e;}
#section1 .cont_box .cont.hotel .text_box .info_box h3 span:last-child{color: #f1e4c6; display: block;}
#section1 .cont_box .cont.hotel .text_box .info_box li .title {color: #f1e4c6;}
#section1 .cont_box .cont.hotel .text_box .info_box li .text {color:  #f1e4c6; font-weight: lighter;}
#section1 .cont_box .cont.hotel .text_box .info_box .btns a {color: #bdaf8e; border: 1px solid #bdaf8e;}
#section1 .cont_box .cont.hotel .text_box .info_box .btns a:before {background: #bdaf8e; }
#section1 .cont_box .cont.hotel .text_box .info_box .btns a:hover {color: #fff;}

/* 크림 */
#section1 .cont_box .cont.cream .text_box .info_box {background: #2b2a2a;}
#section1 .cont_box .cont.cream .text_box .info_box h3 {color: #c2c7ca;}
#section1 .cont_box .cont.cream .text_box .info_box h3 span:last-child{color: #80a5bc;}
#section1 .cont_box .cont.cream .text_box .info_box li .title {color: #c2c7ca;}
#section1 .cont_box .cont.cream .text_box .info_box li .text {color: #c2c7ca; font-weight: lighter;}
#section1 .cont_box .cont.cream .text_box .info_box .btns a {color: #80a5bc; border: 1px solid #80a5bc;}
#section1 .cont_box .cont.cream .text_box .info_box .btns a:before {background:  #80a5bc;  }
#section1 .cont_box .cont.cream .text_box .info_box .btns a:hover {color: #fff;}
#section1 .cont_box .cont.cream .text_box .info_box h3 span:nth-child(2) {font-size: 70px;}
/* 펫 */
#section1 .cont_box .cont.pet .text_box .info_box {background: #e1ddd5;}
#section1 .cont_box .cont.pet .text_box .info_box h3 {color: #ad995d;}
#section1 .cont_box .cont.pet .text_box .info_box h3 span:last-child{color:#716854;}
#section1 .cont_box .cont.pet .text_box .info_box li .title {color:#716854;}
#section1 .cont_box .cont.pet .text_box .info_box li .text {color:#716854; font-weight: lighter;}
#section1 .cont_box .cont.pet .text_box .info_box .btns a {color:#ad995d; border: 1px solid #ad995d;}
#section1 .cont_box .cont.pet .text_box .info_box .btns a:before {background:   #ad995d; }
#section1 .cont_box .cont.pet .text_box .info_box .btns a:hover { color: #fff;}
#section1 .cont_box .cont.pet .text_box .info_box h3 span:nth-child(2) {font-size: 70px; padding-left: 20px;}

/* 에스티로더 */
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box {background: #1f1a17;}
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box h3 {color: #b78b76;}
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box h3 span:last-child{color: #f7dfd4;}
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box li .title {color: #b78b76;}
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box li .text {color: #b78b76; font-weight: lighter;}
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box .btns a {color:#f7dfd4; border: 1px solid #f7dfd4;}
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box .btns a:before {background:   #b78b76; }
#section1 .cont_box .cont.ESTEELAUDER .text_box .info_box .btns a:hover { color: #fff;}



#section2 {margin: 200px 0;}
#section2 .detail_box {display: flex; gap: 50px;}
#section2 .detail_box .detail_img {position: relative;}
#section2 .detail_box figure {height: 150vh; overflow: hidden; position: relative;}
#section2 .detail_box .detail_img a.btn_view {position: absolute; width: 93px; height: 93px; right: -40px; top: -40px; z-index: 3;}
#section2 .detail_box figure:before {content: ""; position: absolute; width: 100%; height: 50%; bottom: 0; background: linear-gradient(180deg,transparent, #a4997d);}
#section2 .detail_box figure img {width: 100%;}




#section3 {margin: 200px 0;}
#section3 .banner_box {display: flex; gap: 50px; flex-direction: column;}
#section3 .banner_box .banner_img {position: relative;}
#section3 .banner_box figure { overflow: hidden; position: relative;}
#section3 .banner_box figure img {width: 100%;}



#section4 {margin: 200px 0;}
#section4 .popup_box {display: flex; gap: 50px;}
#section4 .popup_box .popup_img {position: relative; width: 30%;}
#section4 .popup_box figure { overflow: hidden; position: relative;}
#section4 .popup_box figure img {width: 100%;}



footer {height: 150vh; background: url('../images/bg_footer.jpg');}
footer .contact {height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;}
footer .contact .imgbox {position: relative; width: 400px; height: 200px; margin-top: 500px;}
footer .contact .imgbox img:nth-child(1) {position: absolute; left: -50px;}
footer .contact .imgbox img:nth-child(2) {position: absolute; top: 100px; left: 80px;}
footer .contact a {font-size: 30px; color: #e4d1a4; font-family: 'Mongolian Baiti'; line-height: 1.3;}
footer .contact a span {font-size: 33px;}


.modal {position: fixed; width: 100%; height: 100vh; z-index: 10; background: rgba(0,0,0,0.9); top: 0; left: 0; display: flex; align-items: flex-start; justify-content: center; display: none; overflow-y: auto; overflow-x: hidden; }
.modal .realview {display: inline-block; text-align: center; border-radius: 50px; position: relative; display: flex; padding: 100px 0;}
.modal .realview img {border-radius: 50px; }
.modal .btn_close {position: fixed; width: 50px; height: 50px; border-radius: 50%; color: #fff; top: 50px; right: 50px; display: flex; justify-content: center; align-items: center; font-size: 30px; z-index: 11; transition: .2s linear; cursor: pointer; }
.modal .btn_close:before,
.modal .btn_close:after {content: ""; position: absolute; width: 100%; height: 2px;background: #fff; transform: rotate(45deg);transition: 0.2s;}
.modal .btn_close:after {transform: rotate(-45deg);}

.modal .btn_close:hover:before {background: #bfa566; transform: rotate(-45deg)}
.modal .btn_close:hover:after {background: #bfa566; transform: rotate(-135deg)}

.modal .btns {position: absolute; bottom: 180px; z-index: 20; display: flex; justify-content: center; width: 100%; gap: 10px;}
.modal .btns a {color: #fff; padding: 18px 52px; border: 1px solid #fff; display: inline-block; border-radius:15px; transition: 0.3s; position: relative; overflow: hidden; font-size: 22px;}
/* .modal .btns a:before {content: ""; position: absolute; width: 0%; height: 100%; background: #131313; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: -1; transition: 0.7s cubic-bezier(.35,.33,.11,1.02); border-radius: 10px; opacity: 0;}
.modal .btns a:hover:before {width: 102%; height: 100%; opacity: 1;} */
.modal .btns a:hover {background: #131313;color: #fff;}

.modal .realview::-webkit-scrollbar {
  width: 10px;
}
.modal .realview::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.modal .realview::-webkit-scrollbar-track {
  background-color: #bfa566;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.gotop {position: fixed; width: 60px; height: 60px; background: rgba(0,0,0,0.4); z-index: 20; right: 20px; bottom: 20px; border-radius: 10px; color: #fff; font-size: 20px; display: flex; justify-content: center; align-items: center; transition: .3s; display: none;}
.gotop:hover {background: rgba(0,0,0,0.8); bottom: 30px;}


.line1 {position: absolute; width: 100%; top: 450px; left: 0; z-index: 0; }
.line1 svg {stroke-dashoffset: 3100px; stroke-dasharray: 3100px; width: 100%;}
.line1.on svg {animation: line1 2s forwards;opacity: 1;}
@keyframes line1 {
  0% {stroke-dashoffset: 3100px; opacity: 1;}
  100% {stroke-dashoffset: 0px; opacity: 0.5;}
}

.line2 {position: absolute; width: 100%; top: 1250px; left: 0; z-index: 0; }
.line2 svg {stroke-dashoffset: 2500px; stroke-dasharray: 2500px; width: 100%;}
.line2.on svg {animation: line2 2s forwards;opacity: 1;}
@keyframes line2 {
  0% {stroke-dashoffset: 2500px; opacity: 1;}
  100% {stroke-dashoffset: 0px; opacity: 0.5;}
}